* {
  box-sizing: border-box;
}
:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --font-family: "Lato", sans-serif;
  --h1-color: #08021d;
  --h1-colorvisited:  #4504f9;
  --h1-colorfocus: #bf7505;
  --h1-coloractive: #863f05;
  --button-backgroundcolor: rgb(195, 211, 227);
  --button-textcolor:  black;
  --button-bordercolor: solid rgba(0, 0, 0, 0.3);
  --button-hover: #4d4956;
  --button-active: aqua;
  --button-focus: red;
  --secondary-buttoncolor:  #e0b354;
  --button-secondarytext:  #2b2b2b;

}

a {
  color: var(--primary-color);
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  font-weight: bold;
}
h1 {
  text-decoration: underline;
}
a {
  color:var(--h1-color);
}

a:visited {
  color:var(--h1-colorvisited);
}
a:hover,
a:focus {
  color:var(--h1-colorfocus);
  text-decoration: none;
}

a:active {
  color:var(--h1-coloractive);
}

button,
.button {
  background-color:var(--button-backgroundcolor);
  color:var(--button-textcolor);
  font-family: inherit;
  font: 16px;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 2px var(--button-bordercolor);
  transition-duration: 0.2s;
  transition-property: opacity;
}

button:hover,
.button:hover {
  background-color:var(--button-hover);
  opacity: 0.8;
}

button:active {
  background-color:var(--button-active);
}

button:focus,
.button:focus {
  border: 2px solid var(--button-focus);
}

.button__secondary {
  background-color:var(--secondary-buttoncolor);
  color:var(--button-secondarytext);
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.photo_image {
  max-width: 250px;
  height: auto;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.contact-page {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.skills {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cu_image {
  max-width: 700px;
  margin: 0 auto;
  height: 200px;
}

.berlin-illustration {
  max-width: 700px;
  margin: 0 auto;
  height: 300px;
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes color-change {
  0% {
      fill: #edc655;
  }
  50% {
      fill: #fcffad;
  }
  100% {
      fill: #f76414;
  }
}

@keyframes cloud-move {
  from {
      transform: translate(0, 50px);
  }
  to {
      transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation-duration: 20s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
      transform: translate(446px, 48px);
  }
  to {
      transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 18s cloud-move-reverse infinite alternate linear;
}

