
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: #357b70;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 16px;
  font-weight: bold;
}
h1 {
  text-decoration: underline;
}

a {
  color:#08021d;
}

a:visited {
  color:#4504f9;
}
a:hover {
  color:#bf7505;
  text-decoration: none;
}
a:focus {
  color:#bf7505;
  text-decoration: none;
}

a:active {
  color:#863f05;
}
.no-bullets{
list-style-type: none;
}

button {
  background-color:rgb(195, 211, 227);
  color:black;
  font-family: inherit;
  font: 16px;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.button {
  background-color:rgb(195, 211, 227);
  color:black;
  font-family: inherit;
  font: 16px;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

button:hover {
  background-color:#4d4956;
  opacity: 0.8;
}

.button:hover {
  background-color:#4d4956;
  opacity: 0.8;
}

button:active {
  background-color:aqua;
}

button:focus {
  border: 2px solid red;
}

.button:focus {
  border: 2px solid red;
}

.button__secondary {
  background-color:#e0b354;
  color:#2b2b2b;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header_item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.photo_image {
  max-width: 250px;
  height: auto;
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.contact-page {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.skills {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.cu_image {
  max-width: 700px;
  margin: 0 auto;
  height: 200px;
}

.berlin-illustration {
  max-width: 700px;
  margin: 0 auto;
  height: 300px;
}

.sun {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: color-change;
          animation-name: color-change;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px;
}
.grid_item {
  background-color:lightgray
}


@-webkit-keyframes color-change {
  0% {
      fill: #edc655;
  }
  50% {
      fill: #fcffad;
  }
  100% {
      fill: #f76414;
  }
}

@keyframes color-change {
  0% {
      fill: #edc655;
  }
  50% {
      fill: #fcffad;
  }
  100% {
      fill: #f76414;
  }
}

@-webkit-keyframes cloud-move {
  from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
  }
  to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
      -webkit-transform: translate(0, 50px);
              transform: translate(0, 50px);
  }
  to {
      -webkit-transform: translate(200px, 50px);
              transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-name: cloud-move;
          animation-name: cloud-move;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
  }
  to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
      -webkit-transform: translate(446px, 48px);
              transform: translate(446px, 48px);
  }
  to {
      -webkit-transform: translate(100px, 48px);
              transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 18s cloud-move-reverse infinite alternate linear;
          animation: 18s cloud-move-reverse infinite alternate linear;
}
